.SearchButton{
    margin-left: 30px;
    padding:20px;
    border-radius: 12px;
    background-color: #9ba9d6;
}
.SearchButton:hover{
    background-color: #6496f1;
    border: lightblue;
    border-radius: 12px;
    padding:20px;
}