.DisplayPannel{
    width: 100px;
    background-color: #9ba9d6;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin-top: 30px;   
    padding: 10px 0 500px;
}