.DisplayPannel {
  margin: 10px 0px;
}

.resultList {
  text-align: left;
  font-size: 30px;
  right: 70px;
}

.sectionLeft {
  width: 55%;
  float: left;
  height: 1200px;
  background: rgb(60, 95, 211);
  border: 2px solid black;
  font-size: 20px;
  margin-left: 3%;
  border-radius: 5px;
  text-align: center;
}

.addButton {
  position: absolute;
  background-color: rgb(49, 42, 42);
  color: azure;
  border-radius: 20%;
  outline: none;
  padding: 12px 28px;
  right: 44%;
}

.addButton:disabled {
  background-color: rgb(233, 231, 231);
  color: rgb(165, 172, 172);
}
.addButton:hover {
  background-color: rgb(2, 2, 2);
}

.removeButton {
  border-radius: "6px";
  background-color: rgb(197, 92, 92);
  color: azure;
  border-radius: 20%;
  outline: none;
  display: inline-block;
  padding: 10px 16px;
  position: absolute;
  right: 6%;
}
.removeButton:hover {
  background-color: rgb(204, 52, 52);
}

.tspan {
  padding-right: 15px;
  display: block;
}

@media (max-width: 425px) and (min-height: 748px) {
  .sectionLeft {
    width: 100%;
    height: auto;
  }
  .addButton{
    padding: 6px 8px;
    right: 0%;
  }
}
@media (max-width: 500px) and (min-height: 749px) {
  .sectionLeft {
    width: 100%;
    height:auto;
  }
  .addButton{
    padding: 6px 8px;
    right: 0%;
  }
}
@media (min-width: 501px) and (min-height: 750px) {
  .sectionLeft {
    width: 100%;
    height: auto;
  }
  .addButton{
    padding: 6px 8px;
    right: 0%;
  }
}
@media (min-width: 1024px) and (min-height: 751px) {
  .sectionLeft {
    width: 55%;
    height: 1200px;
  }
}

